alias cd='pushd > /dev/null'
alias pd='popd > /dev/null'
alias ds='dirs -pv'
alias git_mod="git status | grep modified | awk '{print \$2}'"
alias gdanwald="git config --local user.email danwald79@gmail.com && git config --local user.name danwald"
alias dps='docker ps'
alias dim='docker images'
#https://www.calazan.com/docker-cleanup-commands/
#Kill all running containers.
alias dkall='docker kill $(docker ps -q)'

alias docker-compose='docker compose'

#Delete all stopped containers.
alias dcc='printf "\n>>> Deleting stopped containers\n\n" && docker rm $(docker ps -aq)'

#Delete all untagged images.
alias dci='printf "\n>>> Deleting untagged images\n\n" && docker rmi $(docker images -qa)'

alias pip='python -mpip'

alias dy="dig +noall +answer +additional $argv[1] @dns.toys"

alias vi=nvim
alias vim=nvim

alias mkvenv='python -mvenv .venv --prompt .'
alias venv='. ./.venv/bin/activate'

alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

alias cg='curl -OL'
[ -f ~/.kubectl_aliases ] && source ~/.kubectl_aliases
