[user]
	name = dcrasto
	email = danwald79@gmail.com
[core]
    editor = nvim
    pager = less
    # hardcoded $HOME
    excludesfile = /Users/danny/.gitignore
[color]
    ui = true
    diff = true
    status = auto
    branch = auto
[alias]
    dns = diff --name-status
    stage = add
    unstage = reset HEAD
    trash = checkout HEAD
    uncommit = reset HEAD^
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    topic-revs = rev-list --no-merges --first-parent --reverse ...master
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
    lsu = ls-files -v | grep -e '^[a-z]'
    #force-tag-update-push = "!f() { git tag -fam '${1}' ${1} && git push -f origin ${1}; };f "
    squash-to = "!f() { git reset --hard ${1} && git merge --squash HEAD@{1};};f "
    flake8 = "!git diff HEAD^ | flake8 --diff"
    dunk = !git diff | dunk
[merge]
    tool = meld
    autoStash = true
    ff = no
[rerere]
    enable = 1
	autoupdate = 1
[help]
    autocorrect = -1
[gui]
    spellingdictionary = none
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
	autoSetupRemote = true
[pull]
    rebase = true
[oh-my-zsh]
	hide-dirty = 1
[init]
	defaultBranch = main
[rebase]
	autoStash = true
