[user]
    name = danny crasto
[core]
    editor = vim 
    pager = less
[color]
    ui = true
    diff = true
    status = auto
    branch = auto
[alias]
    dns = diff --name-status
    stage = add
    unstage = reset HEAD
    trash = checkout HEAD
    uncommit = reset HEAD^
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    topic-revs = rev-list --no-merges --first-parent --reverse ...master
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
    lsu = ls-files -v | grep -e '^[a-z]'
    force-tag = "!f() { git tag -fam '${1}' ${1}; };f "
[merge]
    tool = meld
[rerere]
    enable = 1
	autoupdate = 1
[help]
    autocorrect = -1
[gui]
    spellingdictionary = none
[credential]
	helper = cache --timeout=3600
[push]
    default = current
