[user]
	name = dcrasto
	email = danny@dubizzle.com
[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore
[color]
    ui = true
    diff = true
    status = auto
    branch = auto
[alias]
    dns = diff --name-status
    stage = add
    unstage = reset HEAD
    trash = checkout HEAD
    uncommit = reset HEAD^
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    topic-revs = rev-list --no-merges --first-parent --reverse ...master
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
    lsu = ls-files -v | grep -e '^[a-z]'
    #force-tag-update-push = "!f() { git tag -fam '${1}' ${1} && git push -f origin ${1}; };f "
    squash-to = "!f() { git reset --hard ${1} && git merge --squash HEAD@{1};};f "
    flake8 = "!git diff HEAD^ | flake8 --diff"
    dk = !git diff | dunk | less
[merge]
    autoStash = true
    ff = no
	conflictStyle = zdiff3
	tool = difftastic
[rerere]
    enabled = true
	autoupdate = true
[help]
    autocorrect = -1
[gui]
    spellingdictionary = none
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
	autoSetupRemote = true
[pull]
    rebase = true
[oh-my-zsh]
	hide-dirty = 1
[init]
	defaultBranch = main
[rebase]
	autoStash = true
	updateRefs = true
[maintenance]
	repo = /Users/dannysylvestercrasto/sandbox/dubizzle
	repo = /Users/dannysylvestercrasto/sandbox/helmfiles-apps
[branch]
    sort = -committerdate
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
    colorMoved = default
	algorithm = histogram
	tool = difftastic
[commit]
	verbose = true
[log]
	date = iso
